.product-images {
  width: 585px;
  height: 450px;
}
.product-image {
  width: 585px;
  height: 450px;
  box-shadow: 0 -15px 35px rgba(0, 0, 0, 0.08);
}
.product-image .image {
  width: 585px;
  height: 450px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  box-shadow: 0 -15px 35px rgba(0, 0, 0, 0.08);
}
#carousel-custom-dots {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0px;
  margin: 0;
}
#carousel-custom-dots > .owl-dot {
  width: 70px;
  height: 70px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 -15px 35px rgba(0, 0, 0, 0.08);
  margin: 30px 40px 0px 0px;
}

.product-detail {
  padding: 0px 50px;
}
.product-detail h3 {
  padding: 40px 0;
  font-size: 22px;
  color: #0093fb;
}
.product-detail p {
  font-size: 15px;
  line-height: 26px;
  margin: 0;
}
.product-detail .addto-card {
  padding: 30px 0px 15px;
}
.addto-card input[type='number'] {
  background: #f0f0f0;
  width: 80px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  -moz-appearance: textfield;
}
.addto-card input[type='number']::-webkit-inner-spin-button,
.addto-card input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.cart-btn {
  background: #000000;
  width: 140px;
  height: 39px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  margin: 0 11px 0 10px;
}
.product-detail .product-purchase {
  background-color: #009efb;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0;
  padding: 16px 30px;
  border: 2px solid #009efb;
  min-width: 235px;
  margin-top: 15px;
}
.product-detail .product-category {
  margin-top: 15px;
  border-top: 1px solid rgb(240, 240, 240);
  padding-top: 10px;
}
.product-detail .product-category h4 {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}
.product-detail .product-category p {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}
.product-detail .product-category p a {
  font-weight: 600;
  text-decoration: underline;
}

.radio__button {
  position: relative;
  display: inline-block;
  margin-bottom: 8px;
}
.radio__button > label {
  cursor: pointer;
  color: #9f9f9f;
  user-select: none;
  border: 1px solid #e6e6e6;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  height: 5em;
  width: 5em;
  border-radius: 4px;
  box-shadow: 0px 0px 5px #e5e5e5;
  transition: all 120ms ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.radio__button > label > h3 {
  font-size: 30px;
  margin: 0;
  padding: 0;
}
.radio__button > label > p {
  font-size: 12px;
  margin: 0;
}

input[type='radio'] {
  display: none;
}

input[type='radio']:checked + label {
  color: #fff;
  border: 1px solid #009efb;
  background: #009efb;
}

input[type='radio']:checked + label > h3,
input[type='radio']:checked + label > p {
  color: #fff;
}

input[type='radio']:disabled + label {
  cursor: not-allowed;
  color: #ccc;
  background: #f5f5f5;
  border: 1px solid #e7e7e7;
}
